{% extends "base/subpage.html" %}

{% block subheading %}Availability{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ root }}availability.html">Availability</a></li>

{% endblock %}

{% block content %}


    <div class="row">
        <div class="col-md-12">
            <p>The very best way to check on the availability of your desired date range is to click on the link to our listing on <strong>RentBranson</strong> and simply plug in your dates. The calendar is totally up to date. You can book online or call the RentBranson office if you would like to speak with a real person.</p>
        </div>
    </div>

    <div class="text-center">

        <a href="https://www.rentbranson.com/red-oak-915/">
          <img src="{{ media }}img/RentBranson logo.jpg" alt="#">
          <p>
            12 Person / 4 Bedroom Condo
          </p>
        </a>
    
    </div>


{% endblock %}
