<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-61040480-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-61040480-1');
</script>


{% extends "base/subpage.html" %}

{% block subheading %}Availability{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ root }}availability.html">Availability</a></li>

{% endblock %}

{% block content %}


    <div class="row">
        <div class="col-md-12">
            <p>The very best way to check on the availability of your desired date range is to click on one of the links to our listings on either <strong>RentBranson</strong> or <strong>Vrbo</strong> and simply plug in your dates. Remember that we operate two condos, so if your dates don't work on the one, please check out the other. Those calendars are totally up to date. You can book online or call the RentBranson office if you would like to speak with a real person.</p>
        </div>
    </div>

    <div class="text-center">
      <a href="https://www.rentbranson.com/tree-of-heaven-1108/">
        <img src="{{ media }}img/RentBranson logo.jpg" alt="#">
        <p>
          12 Person / 4 Bedroom Condo / Our First Condo
        </p>
      </a>

        <a href="https://www.vrbo.com/9747220ha">
            <img src="{{ media }}img/Vrbo-new-logo.png" alt="#">
            <p>
              12 Person / 4 Bedroom Condo / Our First Condo
            </p>
        </a>

        <a href="https://www.rentbranson.com/red-oak-915/">
          <img src="{{ media }}img/RentBranson logo.jpg" alt="#">
          <p>
            12 Person / 4 Bedroom Condo / Our Second Condo
          </p>
        </a>

        <a href="https://www.vrbo.com/9748565ha">
            <img src="{{ media }}img/Vrbo-new-logo.png" alt="#">
            <p>
              12 Person / 4 Bedroom Condo / Our Second Condo
            </p>
        </a>

{% endblock %}


